%button {
  font-family: $f-poppins-semi;
  font-size: 14px;
  text-transform: initial;
  text-align: center;
  letter-spacing: .8px;
}

%button-arrow {
  font-family: $f-poppins-semi;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .8px;

  @media (min-width: break($m)) {
    font-size: 18px;
  }

  @media (min-width: break($xl)) {
    font-size: 21px;
  }
}

.button {
  position: relative;
  @extend %button;
  @extend %transition-all;
  display: inline-flex;
  padding: 10px 25px;
  border-radius: 20px;
  color: $c-blue4;
  border: none;
  overflow: hidden;
  z-index: 3;

  &:before {
    @extend %transition-all;
    @extend %absolute-full;
    content: '';
    background: $c-blue5;
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    background: $c-blue4;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  &:hover {
    &:after {
      top: 0;
    }
  }
}

.button--primary {
  @extend .button;
  @extend %transition-all;
  border: 1px solid $c-blue4;
  background: $c-blue4;
  color: $c-white;

  &:before {
    background: transparent;
  }

  &:after {
    background: $c-white;
  }

  &:hover {
    background: $c-white;
    color: $c-blue5;
  }
}

.button--outline-white {
  @extend .button;
  @extend %transition-all;
  border: 1px solid $c-white;
  background: transparent;
  color: $c-white;
  padding: 5px 12px;

  @media (max-width: break($xs)) {
    font-size: 12px;
    font-family: $f-poppins-light;
  }

  @media (min-width: break($s)) {
    padding: 10px 20px;
  }

  &:before {
    background: transparent;
  }

  &:after {
    background: $c-blue4;
  }

  &:hover {
    background: $c-blue5;
    color: $c-white;
  }
}

.button-arrow--secondary {
  display: block;

  .button__icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  svg {
    width: 45px;
    height: 25px;
    path {
      fill: $c-blue4;
    }
  }

  &:hover {
    svg path {
      fill: $c-blue5;
    }
  }
}

.button-arrow {
  font-family: $f-poppins-semi;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $c-blue4;
    transition: width 0.3s ease;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }

  .button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 13px;
    margin-left: 7px;

    @media (min-width: break($m)) {
      margin-left: 15px;
    }
  }

  .button__icon svg {
    width: 12px;
    height: 12px;

    @media (min-width: break($m)) {
      width: 14px;
      height: 14px;
    }
  }
}

.button-outline {
  @extend .button;
  @extend %transition-all;
  border: 1px solid $c-blue4;
  background: transparent;
  color: $c-blue4;

  &:before {
    background: transparent;
  }
  &:after {
    background: $c-blue4;
  }
  &:hover {
    background: $c-blue5;
    color: $c-white;
  }
}

.button-outline-secondary {
  @extend .button-outline;
}

.button-link {
  position: relative;
  overflow: hidden;
  &:before,span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  &:before {
    @extend %transition-all;
    content: '';
    bottom: -2px;
    height: 3px;
    background-color: $c-blue4;
  }
  &:hover {
    span {
      animation: buttonSlideOut .4s;
    }
    &:before {
      bottom: 0;
    }
  }
}

@keyframes buttonSlideOut {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-150%);
    opacity: 1
  }
  51% {
    transform: translateY(-150%);
    opacity: 0
  }
  52% {
    transform: translateY(200%);
    opacity: 0
  }
  53% {
    transform: translateY(200%);
    opacity: 1
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes buttonSlideOut{
  0%{ transform: translateY(0) }
  100%{ transform: translateY(-200%); opacity: 1 }
}

@keyframes buttonBackgroundSlideUp{
  from{ transform: translateY(0) }
  to{ transform: translateY(calc(-100% - 4px)) }
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
