.black { color: $c-black; }
.white { color: $c-white; }
.gray { color: $c-gray }

.color-blue4 { color: $c-blue4; }
.color-blue5 { color: $c-blue5; }
.color-blue6 { color: $c-blue6; }
.color-blue7 { color: $c-blue7; }

/* Background Colors */
.bg-black { background-color: $c-black; }
.bg-white { background-color: $c-white; }

.bg-blue6 { background-color: $c-blue6; }
