@font-face {
  font-family: 'Interstate-Bold';
  src: url('../Interstate-Bold.eot');
  src:
    url('../Interstate-Bold.eot?#iefix') format('embedded-opentype'),
    url('../Interstate-Bold.woff2') format('woff2'),
    url('../Interstate-Bold.woff') format('woff'),
    url('../Interstate-Bold.svg#Quickpen') format('svg'),
    url('../Interstate-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate-Light';
  src: url('../Interstate-Light.eot');
  src:
    url('../Interstate-Light.eot?#iefix') format('embedded-opentype'),
    url('../Interstate-Light.woff2') format('woff2'),
    url('../Interstate-Light.woff') format('woff'),
    url('../Interstate-Light.svg#Quickpen') format('svg'),
    url('../Interstate-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate-Regular';
  src: url('../Interstate-Regular.eot');
  src:
    url('../Interstate-Regular.eot?#iefix') format('embedded-opentype'),
    url('../Interstate-Regular.woff2') format('woff2'),
    url('../Interstate-Regular.woff') format('woff'),
    url('../Interstate-Regular.svg#Quickpen') format('svg'),
    url('../Interstate-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

