@font-face {
  font-family: 'poppins-bold';
  src: url('../fonts/Poppins-Bold.eot');
  src:
    url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins-Bold.svg#Quickpen') format('svg'),
    url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-light';
  src: url('../fonts/Poppins-Light.eot');
  src:
    url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins-Light.svg#Quickpen') format('svg'),
    url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-medium';
  src: url('../fonts/Poppins-Medium.eot');
  src:
    url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins-Medium.svg#Quickpen') format('svg'),
    url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('../fonts/Poppins-SemiBold.eot');
  src:
    url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.svg#Quickpen') format('svg'),
    url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

